@model TezzaBizSolution.Web.ViewModels.LocationsAggregateViewModel
@{
    ViewData["Title"] = "Index";

}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @*List the collections here*@
                    @{
                        foreach (var collection in Model.Collections)
                        {
                            <tr>
                                <td>@collection.Name</td>

                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <button type="button" id="btnShowRoute" onclick="showRoute(@collection.Id)" data-toggle="tooltip" data-placement="top" title="Show Route" class="btn btn-outline-info">
                                            <i class="fas fa-route"></i>
                                        </button>
                                        <button type="button" id="btnShowPointsOnMap" onclick="showPointsOnMap(@collection.Id)" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Show points on map">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </button>
                                        <a class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="View collection coordinates" asp-action="ViewCollectionPoints" asp-route-collectionId="@collection.Id">
                                            <i class="fas fa-shoe-prints"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            <partial name="_MapContainer" />
        </div>
    </div>
</div>




