@{
    if ((bool)ViewData["ShowRoute"] == false)
    {
        <b>Select location by clicking on the map</b>
    }

    if (ViewData["ActiveCollection"] != null)
    {
        <b>@ViewData["ActiveCollection"]</b>
    }
}

<div style="width: 640px; height: 680px" id="mapContainer"></div>

