@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <code>AppID:</code> <small>@ViewData["AppID"]</small>
    </p>

    <p>
        <code>AppCode:</code> <small>@ViewData["AppCode"]</small>
    </p>

    <p>
        <code>JavaScriptApiKey:</code> <small>@ViewData["JavaScriptApiKey"]</small>
    </p>
</div>
